html {
 background : #fffc78;
}
.header-style {
  
}
.main-table {
 border: 4px solid black;
}
.main-table th {
 text-align: left;
 vertical-align: top;
}
.header th {
 text-align: center;
 vertical-align: top;
}